[Unit]
Description=Game Engine Service
After=network.target

[Service]
User=root
WorkingDirectory=/usr/share/game_engine
ExecStart=/usr/share/game_engine/game_engine
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
